*, *:before, *:after {
            box-sizing: border-box;
        }

@font-face {
	font-family: YesevaOne;
	src: url(yesevaone/YesevaOne-Regular.ttf);
}
@font-face {
  font-family: CrimsonText;
  src: url(crimsontext/CrimsonText-Regular.ttf);
}

header {
	background-color: #0A645A;
	height: 76px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0,);
}

#mainlogo {
	float: left;
	height: 76px;
	padding: .5em;
}
#headernav {
	float: right;
	padding-right: 2.5em;
	line-height: 76px;
	height: 76px;
	}
#headernav ul {
	margin: 0;
}
#headernav li {
	float: left;
	list-style-type: none;
	padding: 0 .9em 0 0;
}
#headernav a {
	display: inline-block;
	padding: 0 4px;
	text-decoration: none;
	color: white;
}

footer {
	float: left;
	width: 100%;
	background-color: #EEEEEE;
	margin-top: 2%;
}

#footernav {
	float: left;
	line-height: 76px;
}
small {
	float: left;
	line-height: 76px;
	padding-left: 1.5em;
}
#footernav ul {
	margin: 0;
}
#footernav li {
	list-style-type: none;
	float: left;
	padding-right: 2em;
}
#footernav a {
	color: #ABABAB;
}

#banner {
	height: 100px;
  	position: static;
 	margin: 15px 0 0 0;  	
}


#bannertitle {
	color:black;
	font-family: 'YesevaOne';
	margin: 0;
	border-bottom: 1px solid #DBDBDB;
}

#bannertitle {
	line-height: 100px;
	font-size: 30px;
	max-width: 1100px;
	margin: 0 auto;

}
.cf:after {
    content:'';
    display:block;
    clear: both;
}

main {
  	max-width: 1100px;
  	margin: 0 auto;
  	font-family: 'CrimsonText';
  	margin-top: 30px;
}
.shophead {
	width: 100%;
	height: 70px;
	background-color: #EEEEEE;
	font-size: 24px;
	padding: 20px;
	position: relative;
}
.shophead > h3 {
	float: left;	
}
h3 {
	margin: 0;
}
.shopcart {
	float: right;
}
a#cartlink {
	font-size: 16px;
}
#cart {
	height: 30px;
}
#shopgallery {
	margin: 20px;
	height: 200px;
}
.shopitem {
		background-color: #EEEEEE;
		max-width: 280px;
		float: left;
		position: relative;
		padding: 15px 15px 60px 15px;
}
.shop-item {
	background-color: #EEEEEE;
		max-width: 280px;
		float: left;
		margin:25px;
		position: relative;
}
span {
	position: absolute;
	bottom: 16px;
	left: 15px;
	font-size: 18px;
}
span.spice:after {
	content: "  \00b7";
}
span.price {
	font-size: 14px;
	position: absolute;
	bottom: 18px;
	left: 73px;
}
a.addtocart {
	font-size: 16px;
	position: absolute;
	bottom: 18px;
	right: 18px;
}
