*, *:before, *:after {
            box-sizing: border-box;
        }

@font-face {
	font-family: YesevaOne;
	src: url(yesevaone/YesevaOne-Regular.ttf);
}
@font-face {
  font-family: CrimsonText;
  src: url(crimsontext/CrimsonText-Regular.ttf);
}

header {
	background-color: #0A645A;
	height: 76px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0,);
}

#mainlogo {
	float: left;
	height: 76px;
	padding: .5em;
}
#headernav {
	float: right;
	padding-right: 2.5em;
	line-height: 76px;
	height: 76px;
	}
#headernav ul {
	margin: 0;
}
#headernav li {
	float: left;
	list-style-type: none;
	padding: 0 .9em 0 0;
}
#headernav a {
	display: inline-block;
	padding: 0 4px;
	text-decoration: none;
	color: white;
}

footer {
	float: left;
	width: 100%;
	background-color: #EEEEEE;
	margin-top: 2%;
}

#footernav {
	float: left;
	line-height: 76px;
}
small {
	float: left;
	line-height: 76px;
	padding-left: 1.5em;
}
#footernav ul {
	margin: 0;
}
#footernav li {
	list-style-type: none;
	float: left;
	padding-right: 2em;
}
#footernav a {
	color: #ABABAB;
}

.bg-cover {
	background: linear-gradient(
		rgba(30,60,60,0.5),
		rgba(30,60,60,0.5)
		)
}
.bg-cover {
}

#banner {
	height: 120px;
  position: static;
}

#bannertitle {
	color:black;
	font-family: 'YesevaOne';
	margin: 0;
	border-bottom: 1px solid #DBDBDB;
}

#bannertitle {
	line-height: 120px;
	font-size: 30px;
	max-width: 1100px;
	margin: 0 auto;
}
#bannersub {
  padding-left: 65px;
  position: relative;
  bottom: 100px;
  font-family: 'CrimsonText';
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
  letter-spacing: 2px;
}
.columns {
  background-color: #DBDBDB;
  width: 100%;
}
.cf:after {
    content:'';
    display:block;
    clear: both;
}
#column1, #column2, #column3 {
  background-color: #DBDBDB;
  width: 33.3333%;
  float: left;
  padding: 4px 20px 4px 20px;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'CrimsonText';
}
blockquote {
  text-align: center;
  font-size: 30px;
  color: #888888;
  padding: 30px 0 30px 0;
}
#leftside {
  width: 68%;
  float: left;
  padding-right: 13px;
  overflow: all;
}

#rightside {
  width: 32%;
  float: right;
  border-left: 2px solid #DBDBDB;
  padding-left: 13px;
  margin-top: 70px;
}
#story1 {
	font-size: 20px;
}
.bg-map {
	background: 
	url(spice-map.png);
	background-size: cover;
	background-position: center;
	min-width: 420px;
	min-height: 300px;
}



