


/*.cf:after {
		content:'';
		display:block;
		clear: both;
	}*/

*, *:before, *:after {
            box-sizing: border-box;
        }

@font-face {
	font-family: YesevaOne;
	src: url(YesevaOne-Regular.ttf);
}


header {
	background-color: #0A645A;
	height: 76px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

#mainlogo {
	float: left;
	height: 76px;
	padding: .5em;
}
#headernav {
	float: right;
	padding-right: 2.5em;
	line-height: 76px;
	height: 76px;
	}
#headernav ul {
	margin: 0;
}
#headernav li {
	float: left;
	list-style-type: none;
	padding: 0 .9em 0 0;
}
#headernav a {
	display: inline-block;
	padding: 0 4px;
	text-decoration: none;
	color: white;
}

footer {
	float: left;
	width: 100%;
	background-color: #EEEEEE;
	margin-top: 2%;
}

#footernav {
	float: left;
	line-height: 76px;
}
small {
	float: left;
	line-height: 76px;
	padding-left: 1.5em;
}
#footernav ul {
	margin: 0;
}
#footernav li {
	list-style-type: none;
	float: left;
	padding-right: 2em;
}
#footernav a {
	color: #ABABAB;
}

.bg-cover {
	background: linear-gradient(
		rgba(30,60,60,0.5),
		rgba(30,60,60,0.5)
		),
	url(hero.jpg);
	background-size: cover;
	background-position: center;
}
.bg-cover {
}

#banner {
	height: 220px;
}

#bannertitle,
#bannersub {
	color:white;
	font-family: 'YesevaOne';
	text-shadow: 2px 2px black; 
	margin: 0;
}

#bannertitle {
	line-height: 200px;
	padding-left: 50px;
}















